<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <title>Home</title>
</head>
<body>
  <div class="container" id="container" style="display: flex; flex-direction: column; align-items: center; text-align: center;">
    <h1>Welcome to the Home Page!</h1><br>
    <%= link_to "Login", new_session_path, class: "login_btn" %>
    <%= link_to "Sign Up", new_user_path, class: "login_btn" %>
  </div>
</body>
</html>