* {
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

span {
    font-size: 11px;
    margin-top: 10px;
    margin-bottom: 5px;
}

a {
    color: #322;
    font-size: 14px;
    margin: 20px;
}

.login_btn {
    border-radius: 20px;
    border-style: solid;
    background-color: rgb(103, 156, 206);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 13px 40px;
}

form {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 10px 15px;
    margin: 8px 0;
    width: 80%;
}

.container {
    background-color: #fff;
    border-radius: 10px;
      box-shadow: 0 10px 25px #0000004d;
    position: relative;
    overflow: hidden;
    width: 600px;
    max-width: 100%;
    min-height: 480px;
}

.social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 100px;
}